<div ng-controller="TodoCtrl" layout-fill layout="column" >
  <div layout="column" layout-align="center center">
    <md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar md-grey-theme">
      <section class="inset md-toolbar-tools" layout="row" layout-align="start">

          <md-input-container>
              <label>New Todo Name</label>
              <input ng-model="user.newTodoName">
          </md-input-container>
          <md-button class="md-icon-button md-primary"><md-icon md-font-set="material-icons">done</md-icon></md-button>
          <md-input-container flex="20" offset="25">
              <label>Groups</label>
              <md-select ng-model="ctrl.userState">
                  <md-option ng-repeat="" value="{{}}}">{{}}}</md-option>
              </md-select>
          </md-input-container>
          <md-button class="md-icon-button md-primary"><md-icon md-font-set="material-icons">cached</md-icon></md-button>
          <md-input-container md-theme="input" flex="20">
              <label>&nbsp;</label>
              <input ng-model="search.who" placeholder="enter search">
          </md-input-container>
          <md-button class="md-icon-button md-primary"><md-icon md-font-set="material-icons">search</md-icon></md-button>
      </section>
  </md-toolbar>
      <p>Todo</p>
  </div>
</div>